html {
	--background: #161415;
	--foreground: #fff;
}

body {
	background-color: var(--background);
  	color: var(--foreground);
	font-weight: normal;
	font-style: normal;
	font-size: 1rem;
	font-family: Helvetica;
	line-height: 30px;
}

h1 {
	font-family: arial;
	font-size: 2.5rem;
}

h2 {
	font-family: arial;
}

p	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
} 

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #161415;
}
  
li {
	float: center;
}
  
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

a {
	text-decoration: none;
}


nav {
	padding: 3%;
}


section {
	padding: 5%; 
}

.dark {
	background-color: var(--background);
	color: var(--foreground)
}

.light {
	background-color: var(--foreground);
	color: var(--background)
}

.waterfront img {
	width: 100%;
	float: none;
}


#class {
	display: block;
}

#class h1 {
	color: #161415;
}

#class p {
	color: #161415;
}

.column img {
	height: 90px;
	float: left;
	vertical-align: middle;
}

.column {
	display: grid inline-block;
	grid-template: 5fr 5fr;
	padding: 0 4px;
}


.video {
	align-content: center;
}


footer {
	background-color: white;
	padding: 5%;
}

footer h1 {
	color: #161415
}

footer p {
	color: #161415;
}


/* MEDIA QUERIE*/

@media screen and (min-width: px) {

}